<body>
<h1><%= "#{@pirate.name}" %></h1>
<p><%= "#{@pirate.height}" %></p>
<p><%= "#{@pirate.weight}" %></p>
<h2><%= "#{@sn1}" %></h2>
<p><%= "#{@st1}" %></p>
<p><%= "#{@sb1}" %></p>
<h2><%= "#{@sn2}" %></h2>
<p><%= "#{@st2}" %></p>
<p><%= "#{@sb2}" %></p>
</body>