<body>
<h1><%= "#{@pirate.name}" %></h1>
<p><%= "#{@pirate.height}" %></p>
<p><%= "#{@pirate.weight}" %></p>
<h2><%= "#{@ships[0].name}" %></h2>
<p><%= "#{@ships[0].type}" %></p>
<p><%= "#{@ships[0].booty}" %></p>
<h2><%= "#{@ships[1].name}" %></h2>
<p><%= "#{@ships[1].type}" %></p>
<p><%= "#{@ships[1].booty}" %></p>
</body>